body {
  margin: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.app-nav {
  background-color: #599ce8;
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}

.nav-item {
  padding: 15px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .app-nav {
    height: 10vh;
  }

  .nav-list {
    display: none;
  }

  .nav-list-mobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #599ce8;
    z-index: 1000;
    width: 45%;
    margin: auto;
    height: 91%;
    padding: 0px;
  }

  .spacer {
    flex: 1;
  }

  .nav-list-mobile .nav-item {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #599ce8;
    word-wrap: break-word;
    max-width: 100%;
  }

  .nav-item {
    background-color: #5189c8;
  }

  .nav-list-mobile .nav-item a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .content-wrapper {
    padding: 15px;
  }
}
