.box {
  width: 80vw;
}

body,
button,
input,
select {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #202733;
}

h2 {
  color: #599ce8;
}

.character-list-container {
  color: #d6e5ef;
}

.character-creation-container,
.character-list-container,
.character-edit-container {
  background-color: #202733;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.character-creation-container h2 {
  color: #599ce8;
  margin-bottom: 20px;
}

.character-creation-container p {
  margin: 0;
}

.character-creation-container label {
  color: #d6e5ef;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.character-creation-container input,
.character-creation-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #354155;
  border-radius: 4px;
  background-color: #2b3545;
  color: #d6e5ef;
  font-size: 16px;
  margin-bottom: 12px;
}

.character-creation-container .input-group {
  margin-bottom: 16px;
}

.character-creation-container .create-button {
  background-color: #599ce8;
  color: white;
}

.character-creation-container .create-button:hover {
  background-color: #4c84c4;
}

.character-creation-container .error-message {
  color: #f04f47;
  font-weight: bold;
}

.character-edit-container {
  background-color: #202733;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

.character-edit-container h2 {
  color: #599ce8;
  margin-bottom: 20px;
}

.character-edit-container label {
  color: #d6e5ef;
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.character-edit-container input,
.character-edit-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #354155;
  border-radius: 4px;
  background-color: #2b3545;
  color: #d6e5ef;
  font-size: 16px;
  margin-bottom: 12px;
}

.character-edit-container input {
  width: 97%;
}

.character-edit-container .save-button {
  background-color: #28b865;
  color: white;
}

.character-edit-container .input-group {
  margin-bottom: 16px;
}

.create-button,
.delete-button,
.save-button {
  min-width: 80px; /* exemplo */
  text-align: center; /* para centralizar o texto no botão */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button {
  background-color: #599ce8;
  color: white;
}

.create-button:hover {
  background-color: #4c84c4;
}

.detail-button,
.edit-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  text-decoration: none;
  background-color: #3f4f69;
}

.character-detail-container h2 {
  color: #599ce8;
  margin-bottom: 20px;
}

.character-detail-container p {
  color: #d6e5ef;
  font-size: 16px;
  margin-bottom: 12px;
}

.character-detail-container strong {
  font-weight: bold;
}

.character-detail-container {
  background-color: #202733;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #d6e5ef;
  max-width: 800px;
  margin: 20px auto;
}

.attributes-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.attribute-box {
  flex: 1;
  background: #202733;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  position: relative;
  margin-right: 10px;
}

.attribute-name {
  margin-bottom: 5px;
}

.attribute-value {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.attribute-modifier {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #4c84c4;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
}

.create-button,
.edit-button,
.delete-button,
.save-button,
.detail-button {
  transition: background-color 0.3s ease;
}

.detail-button,
.edit-button {
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-button:hover {
  background: #0069d9;
}

.detail-button:hover,
.edit-button:hover {
  background: #0069d9;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.delete-button {
  background-color: #3f4f69 !important;
  margin-left: 0px;
}

.delete-button:hover {
  background: #0069d9;
}

.save-button:hover {
  background: #28b865;
}

.character-table {
  width: 100%;
  border-collapse: collapse;
}

.character-table th,
.character-table td {
  border: 1px solid #354155;
  padding: 8px;
  text-align: left;
}

.character-table tr:nth-child(even) {
  background-color: #2b3545;
}

@media (max-width: 768px) {
  .character-edit-container input,
  .character-creation-container input {
    width: 96%;
  }

  .character-creation-container,
  .character-list-container,
  .character-edit-container {
    padding: 15px;
  }

  .character-form input {
    padding: 8px;
  }

  .create-button,
  .detail-button,
  .edit-button,
  .delete-button,
  .save-button {
    padding: 6px 12px;
  }

  .attributes-row {
    flex-direction: column;
  }

  .attribute-box {
    margin-bottom: 10px;
  }

  .detail-button {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 480px) {
  .table-web {
    display: none;
  }

  .character-table .table-mobile::before {
    content: attr(data-label);
    flex-basis: 50%;
    font-weight: bold;
  }

  .character-detail-container {
    padding: 10px;
  }

  .attribute-box {
    padding: 40px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  td {
    display: block;
    padding: 10px 0;
  }

  .character-form label {
    font-size: 16px;
  }

  .character-list-container {
    margin: 10px 0;
    overflow-x: auto;
  }

  .character-form input {
    padding: 8px;
    font-size: 14px;
  }

  .character-table {
    width: 100%;
    overflow-x: scroll;
  }

  .character-table th,
  .character-table td {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .create-button,
  .detail-button,
  .edit-button,
  .delete-button,
  .save-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .detail-button,
  .edit-button,
  .delete-button {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .delete-button {
    margin-top: 0px;
  }

  .character-edit-container input,
  .character-creation-container input {
    width: 95%;
    height: 25px;
  }
}
