body,
button,
input,
select {
  font-family: Arial, sans-serif; /* Adicione sua fonte preferida aqui */
}

.character-creation-container {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
}

.character-form .input-group {
  margin-bottom: 15px;
}

.character-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.character-form input,
.character-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-button {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
}

.character-list-container,
.character-edit-container {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
}

.character-table {
  width: 100%;
  border-collapse: collapse;
}

.character-table th,
.character-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.character-table th {
  background: #f2f2f2;
}

.character-table tr:nth-child(even) {
  background: #f9f9f9;
}

.create-button,
.edit-button,
.delete-button,
.save-button,
.detail-button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; /* Remove o sublinhado dos links */
  display: inline-block; /* Faz com que os links se comportem como botões */
  color: white; /* Cor do texto dos links e botões */
}

.create-button {
  background: #007bff;
  color: white;
}

.detail-button {
  background: #3498db; /* Azul */
}

.edit-button {
  background: #f4e542; /* Amarelo */
  color: black; /* Cor do texto para o botão Editar */
}

.delete-button {
  background: #e74c3c;
  color: white;
}

.save-button {
  background: #2ecc71;
  color: white;
}

.attributes-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.attribute-box {
  flex: 1;
  background: #f9f9f9;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  position: relative;
  margin-right: 10px;
}

.attribute-name {
  margin-bottom: 5px;
}

.attribute-value {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.attribute-modifier {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #2ecc71;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}

/* Efeito hover para os botões */
.create-button,
.edit-button,
.delete-button,
.save-button,
.detail-button {
  transition: background-color 0.3s ease; /* Transição suave */
}

.create-button:hover {
  background: #0069d9;
}

.detail-button:hover {
  background: #2384c6; /* Um azul um pouco mais escuro */
}

.edit-button:hover {
  background: #e3d235; /* Um amarelo um pouco mais escuro */
}

.delete-button:hover {
  background: #d43f00; /* Um vermelho um pouco mais escuro */
}

.save-button:hover {
  background: #28b865; /* Um verde um pouco mais escuro */
}

@media (max-width: 768px) {
  .character-creation-container,
  .character-list-container,
  .character-edit-container {
    padding: 15px;
  }

  .character-form input {
    padding: 8px;
  }

  .create-button,
  .edit-button,
  .delete-button,
  .save-button {
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .character-form label {
    font-size: 14px;
  }

  .character-creation-container,
  .character-list-container,
  .character-edit-container {
    padding: 10px;
  }

  .character-form input {
    padding: 6px;
  }

  .create-button,
  .edit-button,
  .delete-button,
  .save-button {
    padding: 5px 10px;
    font-size: 12px;
  }
}
