button {
  cursor: pointer;
  padding: 0.75em 1.25em;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin: 0.625em;
  transition: transform 0.1s, box-shadow 0.2s;
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.2);
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  background-color: #007bff;
  color: white;
}

button:hover {
  transform: translateY(-0.1875em);
  box-shadow: 0.125em 0.25em 0.75em rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0.0625em);
  box-shadow: 0.125em 0.125em 0.5em rgba(0, 0, 0, 0.25);
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  /* Dice Roller Container */
  div[style*="display: flex"] {
    flex-direction: column; /* Stack the dice vertically */
    height: 100vh; /* Occupy the full viewport height */
    justify-content: space-evenly; /* Distribute the dice evenly on the page */
  }

  .diceWrapper {
    padding-top: 50px;
  }

  /* Individual Die Container */
  div[style*="display: inline-block"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Remove left and right margin to center on smaller screens */
  }
}
