button {
  cursor: pointer;
  padding: 0.75em 1.25em;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin: 0.625em;
  transition: transform 0.1s, box-shadow 0.2s;
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.2);
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  background-color: #599ce8 !important;
  color: #d6e5ef;
}

button:hover {
  transform: translateY(-0.1875em);
  box-shadow: 0.125em 0.25em 0.75em rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0.0625em);
  box-shadow: 0.125em 0.125em 0.5em rgba(0, 0, 0, 0.25);
}

.diceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  div[style*="display: flex"] {
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    margin-top: 70px;
  }

  .diceWrapper {
    padding-top: 50px;
  }

  div[style*="display: inline-block"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
