* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #202733;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #171c25; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #354155; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid #354155; /* creates padding around scroll thumb */
}

.title-color {
  color: #599ce8;
}

.subtitle-color {
  color: #d6e5ef;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-cadastro {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 70%;
  position: relative;
  margin-left: 10%;
}

.card-content {
  display: flex;
}

.card-content-left,
.card-content-right {
  padding: 20px;
}

.card-content-left {
  flex: 1;
  text-align: center;
}

.card-content-right {
  flex: 1;
  margin: auto;
}

.card-content-left img {
  max-width: 100%;
  width: auto;
  height: 70vh;
}

.card-image {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 36px;
  font-weight: bold;
}

.card p {
  font-size: 18px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: #4c84c4;
  cursor: pointer;
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #599ce8;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left: 30%;
}

.signup-button:hover {
  background-color: #4c84c4;
}

.features-section {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 70%;
  margin-left: 10%;
}

.features-section p {
  margin: 0;
}

@media (max-width: 768px) {
  .card-cadastro,
  .features-section {
    width: 100%;
    margin-left: -22px;
  }

  .card-content {
    flex-direction: column;
  }

  .card-content-left,
  .card-content-right {
    width: 100%;
    padding: 10px;
  }

  .card-content-right {
    margin-top: 0;
  }

  .signup-button {
    left: 0;
    display: block;
    margin: 20px auto 0; /* Centraliza o botão horizontalmente */
  }

  .card-content-left img {
    height: 50vh; /* Ajusta a altura da imagem */
  }
}

/* Para telas com largura até 480px (smartphones) */
@media (max-width: 480px) {
  .card h1 {
    font-size: 28px;
  }

  .card p {
    font-size: 16px;
  }

  .card-image {
    padding: 40px 10px; /* Aumenta o padding para garantir espaço para o texto */
  }

  .card-content-left img {
    height: 30vh; /* Ajusta a altura da imagem para dispositivos muito pequenos */
  }
}
